{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<section class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Product Management</h1>
                <h5>Add new product</h5>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="POST" action="{% url 'add_product' %}">
                    {% csrf_token %}
                    {{ product_form|crispy }}
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

<!-- Custom javascript file for checkout page -->
{% block postload_js %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}