{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Marketing shoe section -->
<section class="position-relative text-white rounded" style="height: fit-content; margin: 20px 70px;">
  <!-- Background image -->
  <img src="{% static 'images/marketing_shoe.jpg' %}" alt="Marketing Shoe" loading="lazy"
    class="w-100 h-100 object-fit-cover position-absolute top-0 start-0 rounded img-fluid"
    style="filter: brightness(0.9);">

  <div class="position-absolute top-0 start-0 w-100 h-100 rounded"
    style="background: linear-gradient(to right, rgba(21 95 105), rgba(154 213 219 / 48%)); padding: 20px 70px;">
  </div>

  <!-- Text content -->
  <div class="container h-100 position-relative">
    <div class="row h-100 align-items-center">
      <div class="col-md-6">
        
        <h1 class="text-white fw-bold mb-3 mt-2">Unlock Your Style. Own Every Step.</h1>
        <p class="text-white mb-4">
          Explore our exclusive collection of stylish and comfortable footwear for every occasion.
          Find the shoes that move with you — from the gym to the streets.
        </p>
        <!-- Optional: a single subtle CTA -->
        <a href="{% url 'products' %}?category=formal" class="btn btn-light btn-lg text-capitalize mb-2"
        aria-label="Shop formal shoes collection">
          Shop The Collection
        </a>
      </div>
      <div class="col-md-6">
        <h2 class="text-white mb-3 mt-2">Craft Your Journey</h2>
        <p class="text-white mb-4">
          Every step tells a story. With shoes designed for your lifestyle and aspirations, you’re not just
          walking — you’re crafting your own path.
          Discover styles that match your unique journey.
        </p>
        <!-- Optional: a softer CTA -->
        <a href="" class="btn btn-outline-light btn-lg text-capitalize mb-2">
          Learn About Custom Shoes
        </a>
      </div>
    </div>
  </div>

</section>

<!-- Sidebar filtering section -->
<section class="container py-4">
  <div class="row">
    <!-- Filter Sidebar -->
    <aside class="col-md-3 mb-4">
      <h4 class="mb-3">Filters</h4>
      <form method="GET" action="">
        <div class="accordion" id="filterAccordion">

          <!-- Category Filter -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingCategory">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseCategory" aria-expanded="false" aria-controls="collapseCategory">
                Category
              </button>
            </h2>
            <div id="collapseCategory" class="accordion-collapse collapse" aria-labelledby="headingCategory"
              data-bs-parent="#filterAccordion">
              <div class="accordion-body">
                <select name="category" class="form-select form-select-sm">
                  <option selected disabled>Shoes sort by</option>
                  <option value="running">Running</option>
                  <option value="casual">Casual</option>
                  <option value="formal">Formal</option>
                  <option value="sports">Sports</option>
                </select>
              </div>
            </div>
          </div>

          <!-- Price Sort -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingPriceSort">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsePriceSort" aria-expanded="false">
                Sort by Price
              </button>
            </h2>
            <div id="collapsePriceSort" class="accordion-collapse collapse" data-bs-parent="#filterAccordion">
              <div class="accordion-body">
                <select name="sort" id="priceSort" class="form-select form-select-sm">
                  <option selected disabled>Sort products by price</option>
                  <option value="price_asc">Price: Low to High</option>
                  <option value="price_desc">Price: High to Low</option>
                </select>
              </div>
            </div>
          </div>
          <!-- Sort by Rating -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingRatingSort">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseRatingSort" aria-expanded="false">
                Sort by Rating
              </button>
            </h2>
            <div id="collapseRatingSort" class="accordion-collapse collapse" data-bs-parent="#filterAccordion">
              <div class="accordion-body">
                <select name="sort" class="form-select form-select-sm">
                  <option selected disabled>Sort products by rating</option>
                  <option value="rating_desc">Rating: High to Low</option>
                  <option value="rating_asc">Rating: Low to High</option>
                </select>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-dark mt-3 w-100">Apply Filters</button>
      </form>
      </div>
      <div class="card bg-light text-center p-3 mt-3 shadow-sm w-100">
          <h4 class="card-title mb-2">Free Delivery!</h4>
          <p class="card-text mb-3">Get free delivery on orders over <strong>€ {{ free_delivery_threshold }}</strong>.</p>
        </div>
    </aside>

    <!-- Product Results -->
    <article class="col-md-9">
      <div class="row">
        <div class="col-md-9">
          <p class="text-muted">
            {{ products|length }} products found
            {% if search_term %}
            for "<strong>{{ search_term }}</strong>"
            {% endif %}
            {% if current_categories %}
            in categories: <strong class="text-capitalize" style="color: #6d8b84;">
              <i class="fa-solid fa-tags"></i> {{ current_categories|join:", " }} Shoes</strong>
            {% endif %}
            {% if sort %}
            (sorted by <strong>{{ sort }}</strong>)
            {% endif %}
          </p>
        </div>
      </div>
      <!-- Product listing here -->
      <div class="row">
        <h4 class="mb-3">Products</h4>
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
          <div class="card h-100 border-0">
            {% if product.image and product.image_url %}
    <a href="{% url 'product_detail' product.id %}">
        <img src="{{ product.image_url }}" alt="{{ product.subtitle }}" loading="lazy"
             class="img-fluid w-100 rounded"
             style="aspect-ratio: 4/3; object-fit: cover; object-position: center;">
    </a>
{% else %}
    <a href="{% url 'product_detail' product.id %}">
        <img src="/media/default_image.jpg" alt="{{ product.subtitle }}" loading="lazy"
             class="img-fluid w-100 rounded"
             style="aspect-ratio: 4/3; object-fit: cover; object-position: center;">
    </a>
{% endif %}


            <div class="card-body p-0 py-0 fw-bold">
              <p class="mb-0 pl-0">{{ product.name }}</p>
            </div>
            <div class="card-body p-0 pl-0 py-0">
              <p class="fs-6 text-muted mb-0" alt="{{ product.subtitle|default:product.name }}">{{ product.subtitle }}</p>
            </div>
            <div class="card-footer p-0 pl-0 bg-transparent pt-0 border-0 mb-2">
              <div class="row">
                <div class="col">
                  <p class="lead mb-0"><span class="fw-bold">€</span> {{ product.price }}</p>
                  <p class="text-muted fw-bold text-uppercase small mb-0">
                    <a href="{% url 'products' %}?category={{ product.category.name }}" style="color: #6d8b84;">
                      <i class="fa-solid fa-tags"></i> {{ product.category.friendly_name }}
                    </a>
                  </p>
                  <!-- Star rating -->
                  {% if product.rating %}
                  <small class="text-muted mt-0 pl-0 py-0">
                    {% if product.rating >= 4.9 %}
                    ⭐⭐⭐⭐⭐
                    {% elif product.rating >= 4.0 %}
                    ⭐⭐⭐⭐☆
                    {% elif product.rating >= 3.0 %}
                    ⭐⭐⭐☆☆
                    {% elif product.rating >= 2.0 %}
                    ⭐⭐☆☆☆
                    {% elif product.rating >= 1.0 %}
                    ⭐☆☆☆☆
                    {% elif product.rating >= 0 %}
                    <i class="fa-solid fa-star-half-stroke" style="color: #FFD43B;"></i>☆☆☆☆
                    {% else %}
                    ☆☆☆☆☆
                    {% endif %}
                    <span class="ms-1">{{ product.rating|floatformat:1 }} / 5</span>
                  </small>
                  {% else %}
                  <small class="text-muted">
                    No Rating
                  </small>
                  {% endif %}
                </div>
              </div>
            </div>
            {% if request.user.is_staff %}
            <a href="{% url 'edit_product' product.id %}" class="btn btn-sm btn-warning mb-2">Edit Product</a>
            <button class="btn btn-sm btn-danger" data-bs-toggle="modal"
              data-bs-target="#deleteModal{{ product.id }}">Delete
            </button>
            {% endif %}
          </div>
        </div>

        <!-- Delete Modal -->
        <div class="modal fade" id="deleteModal{{ product.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ product.id }}" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <form method="POST" action="{% url 'delete_product' product.id %}">
                {% csrf_token %}
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel{{ product.id }}">Delete Product</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                  Are you sure you want to delete <strong>{{ product.name }}</strong>?
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-danger">Yes, Delete</button>
                </div>
              </form>
            </div>
          </div>
        </div>

          <!-- horisental line between products based on the screen size -->
          {% if forloop.counter|divisibleby:1 %}
            <div class="col-12 d-sm-none mb-4">
              <hr>
            </div>
          {% endif %}

          {% if forloop.counter|divisibleby:2 %}
            <div class="col-12 d-none d-sm-block d-md-none mb-4">
              <hr>
            </div>
          {% endif %}

          {% if forloop.counter|divisibleby:3 %}
            <div class="col-12 d-none d-md-block d-lg-none mb-4">
              <hr>
            </div>
          {% endif %}

          {% if forloop.counter|divisibleby:4 %}
            <div class="col-12 d-none d-lg-block mb-4">
              <hr>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </article>
  </div>
  <div id="to-top" class="btt-button">
    <a href="" class="btt-link fs-2">
      <i class="fas fa-arrow-up"></i>
    </a>
  </div>
</section>
{% endblock %}

{% block postload_js %}
{{ block.super }}
  <script>
    const toTop = document.getElementById('to-top');

    window.addEventListener("scroll", toTopBtn, true);
    window.addEventListener("resize", toTopBtn, true);
    window.addEventListener("load", toTopBtn, true);

		$('.btt-link').click(function(e) {
      e.preventDefault();
			window.scrollTo(0,0)
		});

    function toTopBtn() {
        // scroll to top button
        console.log("scrollY = " + window.scrollY);
        if (window.scrollY > 300) {
            toTop.style.display = "block";
        } else {
            toTop.style.display = "none";
        }
    }
  </script>
{% endblock  %}