{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Individual product detail -->
<section class="py-1 bg-transparent">

    <div class="container">

        <!-- Back to other pages link -->
        <div class="row">
            <div class="col-12 mb-5">
                <a class="text-black text-capitalize text-muted" href="{% url 'home' %}">home</a> <span
                    class="text-muted"> / </span> <a class="text-black text-capitalize text-muted"
                    href="{% url 'products' %}"> shoes</a><span class="text-muted"> / </span><a
                    class="text-black text-muted" href="{% url 'product_detail' product.id %}"
                    style="font-weight: bold;">
                    {{ product.name }}</a>
            </div>
        </div>         

        <!-- Displaying product name, subtitle, price and product image -->
        <div class="row">
            <div class="col-12">
                <h2 class="text-black fw-bold">
                    {{ product.name }}
                </h2>
                <p class="text-muted text-capitalize">
                    {{ product.subtitle }}
                </p>
                <p class="text-muted text-capitalize mb-3">
                    €{{ product.price }}
                </p>
            </div>
            <!-- image -->
            <div class="col-12 position-relative rounded text-center">
                {% if product.image %}
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{{ product.image.url }}" alt="{{ product.subtitle }}" class="img-fluid w-100 rounded"
                        style="aspect-ratio: 4/3; object-fit: cover; object-position: center;">
                </a>
                {% else %}
                <a href="{% url 'product_detail' product.id %}">
                    <img src="{% static 'images/default_image.jpg' %}" alt="{{ product.subtitle }}"
                        class="img-fluid w-100 rounded"
                        style="aspect-ratio: 4/3; object-fit: cover; object-position: center;">
                </a>
                {% endif %}


            </div>
        </div>

    </div>
</section>
<section class="py-1 bg-transparent">
    <div class="container">
        <!-- Product description, rating and size -->
        <div class="row">
            <div class="col-12 col-md-6">
                <h6 class="mt-3">Product Details</h6>
                <p class="text-muted text-capitalize">
                    {{ product.description }}
                </p>
                <h6 class="text-muted text-capitalize mb-3">
                    <a style="color: #6d8b84;" class="fw-bold" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fa-solid fa-tags"></i> {{ product.category.friendly_name }}
                    </a>
                </h6>
                {% if product.rating %}
                <small class="text-muted mt-0 pl-0 py-0">
                    {% if product.rating >= 4.9 %}
                    ⭐⭐⭐⭐⭐
                    {% elif product.rating >= 4.0 %}
                    ⭐⭐⭐⭐☆
                    {% elif product.rating >= 3.0 %}
                    ⭐⭐⭐☆☆
                    {% elif product.rating >= 2.0 %}
                    ⭐⭐☆☆☆
                    {% elif product.rating >= 1.0 %}
                    ⭐☆☆☆☆
                    {% elif product.rating >= 0 %}
                    <i class="fa-solid fa-star-half-stroke" style="color: #FFD43B;"></i>☆☆☆☆
                    {% else %}
                    ☆☆☆☆☆
                    {% endif %}
                    <span class="ms-1">{{ product.rating|floatformat:1 }} / 5</span>
                </small>
                {% else %}
                <small class="text-muted">No Rating</small>
                {% endif %}
            </div>
            <!-- Size Selection -->
            <div class="col-12 col-md-6">
                <h6 class="mb-3 pt-3">Select Size</h6>
                <div id="sizeOptions" class="d-flex flex-wrap gap-2" data-product-id="{{ product.id }}" id="sizeOptions">
                    {% for size in product.size %}
                    <span class="size-box" data-size="{{ size }}">{{ size }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Form and Shipping Info -->
        <div class="row mt-4">
            <!-- Shipping information -->
            <div class="col-12 col-md-6 order-last order-md-0">
                <div class="card shadow-sm p-4">
                    <div class="row text-center g-4">
        
                        <div class="col-12 col-sm-4">
                            <div>
                                <div class="mb-3 text-primary fs-1">
                                    <i class="fa-solid fa-truck"></i>
                                </div>
                                <h5 class="mb-2">Fast Delivery</h5>
                                <p class="mb-0">Receive your order within 2-4 working days with free shipping on orders
                                    over € {{ free_delivery_threshold }}.</p>
                            </div>
                        </div>
        
                        <div class="col-12 col-sm-4">
                            <div>
                                <div class="mb-3 text-primary fs-1">
                                    <i class="fa-solid fa-undo"></i>
                                </div>
                                <h5 class="mb-2">Free Returns</h5>
                                <p class="mb-0">14 days to return your products — hassle-free and easy.</p>
                            </div>
                        </div>
        
                        <div class="col-12 col-sm-4">
                            <div>
                                <div class="mb-3 text-primary fs-1">
                                    <i class="fa-solid fa-dollar-sign"></i>
                                </div>
                                <h5 class="mb-2">Resell & Save</h5>
                                <p class="mb-0">Sell your used items through our platform and get discounts on new
                                    purchases.</p>
                            </div>
                        </div>
        
                    </div>
                </div>
            </div>
        
            <!-- Form -->
            <div class="col-12 col-md-6 order-1 order-md-0">
                <form method="POST" action="{% url 'add_to_bag' product.id %}">
                    {% csrf_token %}
                    <!-- Quantity -->
                    <div class="mb-3" style="max-width: 100%">
                        <label for="quantity" class="form-label">Select Quantity</label>

                        <!-- Quantity input -->
                        <div class="position-relative">
                            <input type="number" id="quantity" name="quantity" value="1" min="1" max="99"
                                class="form-control text-center pe-5 ps-5" style="appearance: textfield;">

                            <!-- Minus button (left) -->
                            <button type="button" id="decrement-btn"
                                class="btn btn-sm btn-outline-secondary position-absolute top-50 start-0 translate-middle-y ms-1">
                                <i class="fa-solid fa-minus"></i>
                            </button>

                            <!-- Plus button (right) -->
                            <button type="button" id="increment-btn"
                                class="btn btn-sm btn-outline-secondary position-absolute top-50 end-0 translate-middle-y me-1">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                    </div>

                    <!-- This takes the value of the size selection and it's hidden -->
                    <input type="hidden" name="selected_size" id="selectedSizeInput">

                    <!-- Hidden input for product id -->
                    <input type="hidden" name="product_id" value="{{ product.id }}">

                    <!-- The hidden input that takes the current url and sends to the bag -->
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">

                    <!-- Add to bag -->
                    <button type="submit" class="btn btn-dark d-block mb-2 w-100" style="border-radius: 20px;">
                        Add to Bag
                    </button>

                    <!-- Back to shopping -->
                    <a href="{% url 'products' %}" class="btn d-block mb-2 w-100"
                        style="border-radius: 20px; background-color: #bdae78b6;">
                        <i class="fa-solid fa-angle-left" style="color: #6d8b84;"></i> Keep Shopping
                    </a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}