{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Individual product detail -->
<section class="py-5 bg-transparent">

    <div class="container">

        <!-- Back to other pages link -->
        <div class="row">
            <div class="col-12 mb-5">
                <a class="text-black text-capitalize text-muted" href="{% url 'home' %}">home</a> <span
                    class="text-muted"> / </span> <a class="text-black text-capitalize text-muted"
                    href="{% url 'products' %}"> shoes</a><span class="text-muted"> / </span><a
                    class="text-black text-muted" href="{% url 'product_detail' product.id %}"
                    style="font-weight: bold;">
                    {{ product.name }}</a>
            </div>
        </div>

        <!-- Displaying product name, subtitle, price and product image -->
        <div class="row">
            <div class="col-12">
                <h2 class="text-black fw-bold">
                    {{ product.name }}
                </h2>
                <p class="text-muted text-capitalize">
                    {{ product.subtitle }}
                </p>
                <p class="text-muted text-capitalize mb-3">
                    €{{ product.price }}
                </p>
            </div>
            <!-- image --> 
            <div class="col-12 position-relative rounded text-center">
                {% if product.image %}
  <a href="{% url 'product_detail' product.id %}">
    <img src="{{ product.image.url }}"
         alt="{{ product.subtitle }}"
         class="img-fluid w-100 rounded"
         style="aspect-ratio: 4/3; object-fit: cover; object-position: center;">
  </a>
{% else %}
  <a href="{% url 'product_detail' product.id %}">
    <img src="{% static 'images/default_image.jpg' %}"
         alt="{{ product.subtitle }}"
         class="img-fluid w-100 rounded"
         style="aspect-ratio: 4/3; object-fit: cover; object-position: center;">
  </a>
{% endif %}


            </div>
        </div>

        <!-- Product description, rating - star rating and product's size -->
        <div class="row">
             <div class="col-12">
                <h6 class="mt-3">
                    Product Details
                </h6>
                <p class="text-muted text-capitalize">
                    {{ product.description }}
                </p>
                <h6 class="text-muted text-capitalize mb-3">
                    <a  style="color: #6d8b84;" class="fw-bold" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fa-solid fa-tags"></i> {{ product.category.friendly_name }}
                    </a>
                </h6>
                  {% if product.rating %}
                  <small class="text-muted mt-0 pl-0 py-0">
                    {% if product.rating >= 4.9 %}
                    ⭐⭐⭐⭐⭐
                    {% elif product.rating >= 4.0 %}
                    ⭐⭐⭐⭐☆
                    {% elif product.rating >= 3.0 %}
                    ⭐⭐⭐☆☆
                    {% elif product.rating >= 2.0 %}
                    ⭐⭐☆☆☆
                    {% elif product.rating >= 1.0 %}
                    ⭐☆☆☆☆
                    {% elif product.rating >= 0 %}
                    <i class="fa-solid fa-star-half-stroke" style="color: #FFD43B;"></i>☆☆☆☆
                    {% else %}
                    ☆☆☆☆☆
                    {% endif %}
                    <span class="ms-1">{{ product.rating|floatformat:1 }} / 5</span>
                  </small>
                  {% else %}
                  <small class="text-muted">
                    No Rating
                  </small>
                  {% endif %}
            </div>
            <!-- Size Selection -->
            <div class="col-12">
                <h6 class="mb-3 pt-3">Select Size</h6>
                <div id="sizeOptions">
                    {% for size in product.size %}
                    <span class="size-box" data-size="{{ size }}">{{ size }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Form for the quantity, keep shopping link and submit button -->
        <div class="row">
            <form method="POST" action="{% url 'bag' %}">
                {% csrf_token %}

                <!-- Stores the selected size value (set via JavaScript) to be submitted with the form -->
                <input type="hidden" name="selected_size" id="selectedSizeInput">
        
                <!-- Quantity Input -->
                <div class="mb-3">
                    <label for="quantity" class="form-label">Select Quantity</label>
                    <input type="number" id="quantity" name="quantity" value="1" min="1" max="11" class="form-control"
                        style="max-width: 400px;">
                </div>

                <!-- Back to shop -->
                <a href="{% url 'products' %}" class="btn d-block left-0 mb-2"
                    style="width: 400px; border-radius: 20px; background-color: #bdae78b6;">
                    <i class="fa-solid fa-angle-left" style="color: #6d8b84;"></i> Keep Shopping
                </a>

                <!-- Submit to the bag -->
                <button type="submit" class="d-block left-0 mb-2 btn btn-dark" style="width: 400px; border-radius: 20px;">
                    Add to Cart
                </button>
            </form>
        </div>

    </div>
</section>

<!-- Product up-selling -->
<section class="py-5 bg-transparent">

</section>
    {% endblock %}