<!-- Info Toast -->
<div class="toast align-items-center border-0 fade show" role="alert" aria-live="polite" aria-atomic="true"
    style="background-color: #f0f0f0;">
    <div class="d-flex justify-content-between align-items-center px-3 py-2 border-bottom" style="width: 100%;">
        <!-- Toast Header -->
        <strong class="toast-header text-info me-auto" style="font-weight: bold;">
            Info
        </strong>

        <!-- Close Button -->
        <button type="button" class="btn-close btn-close-dark me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
    </div>

    <!-- Toast Body -->
    <div class="toast-body" style="color: #0dcaf0;">
        {{ message }}
    </div>
</div>